### Laboratório Prático - Label Encoding

In [1]:
# imports
import pandas as pd
import datetime

In [2]:
# Extrai a data atual do sistema
data_atual = datetime.datetime.now()

In [3]:
data_atual

datetime.datetime(2024, 3, 26, 11, 3, 53, 335408)

In [4]:
# Vamos gerar um range de datas dos 20 anteriores à data atual
date_list = [data_atual - datetime.timedelta(days= x) for x in range(0, 20)]

In [5]:
date_list

[datetime.datetime(2024, 3, 26, 11, 3, 53, 335408),
 datetime.datetime(2024, 3, 25, 11, 3, 53, 335408),
 datetime.datetime(2024, 3, 24, 11, 3, 53, 335408),
 datetime.datetime(2024, 3, 23, 11, 3, 53, 335408),
 datetime.datetime(2024, 3, 22, 11, 3, 53, 335408),
 datetime.datetime(2024, 3, 21, 11, 3, 53, 335408),
 datetime.datetime(2024, 3, 20, 11, 3, 53, 335408),
 datetime.datetime(2024, 3, 19, 11, 3, 53, 335408),
 datetime.datetime(2024, 3, 18, 11, 3, 53, 335408),
 datetime.datetime(2024, 3, 17, 11, 3, 53, 335408),
 datetime.datetime(2024, 3, 16, 11, 3, 53, 335408),
 datetime.datetime(2024, 3, 15, 11, 3, 53, 335408),
 datetime.datetime(2024, 3, 14, 11, 3, 53, 335408),
 datetime.datetime(2024, 3, 13, 11, 3, 53, 335408),
 datetime.datetime(2024, 3, 12, 11, 3, 53, 335408),
 datetime.datetime(2024, 3, 11, 11, 3, 53, 335408),
 datetime.datetime(2024, 3, 10, 11, 3, 53, 335408),
 datetime.datetime(2024, 3, 9, 11, 3, 53, 335408),
 datetime.datetime(2024, 3, 8, 11, 3, 53, 335408),
 datetime.datetime(2024, 3, 7, 11, 3, 53, 335408)]

In [7]:
# Convertemos a lista em um dataframe
df = pd.DataFrame(date_list)

In [9]:
df.head()

                           0
0 2024-03-26 11:03:53.335408
1 2024-03-25 11:03:53.335408
2 2024-03-24 11:03:53.335408
3 2024-03-23 11:03:53.335408
4 2024-03-22 11:03:53.335408

In [11]:
# Ajustando o nome da coluna
df.columns = ['data']

In [12]:
df.head()

                        data
0 2024-03-26 11:03:53.335408
1 2024-03-25 11:03:53.335408
2 2024-03-24 11:03:53.335408
3 2024-03-23 11:03:53.335408
4 2024-03-22 11:03:53.335408

In [13]:
# Ajustando os dias da semana
df['dia_da_semana'] = df['data'].dt.day_name()

In [14]:
df.head()

                        data dia_da_semana
0 2024-03-26 11:03:53.335408       Tuesday
1 2024-03-25 11:03:53.335408        Monday
2 2024-03-24 11:03:53.335408        Sunday
3 2024-03-23 11:03:53.335408      Saturday
4 2024-03-22 11:03:53.335408        Friday

In [15]:
# Criamos um dicionário mapeando dia da semana com um número correspondente
# Obs: se o seu sistema estiver em português e se for necessário, use os dias da semana em portugês
dict_dia_semana = {'Monday': 1,
                   'Tuesday': 2,
                   'Wednesday': 3,
                   'Thursday': 4,
                   'Friday': 5,
                   'Saturday': 6,
                   'Sunday': 7}

In [16]:
# Label Encode - Substituímos o nome da semana pelo número correspondente
df['dia_da_semana_cod'] = df['dia_da_semana'].map(dict_dia_semana)

In [17]:
df

                         data dia_da_semana  dia_da_semana_cod
0  2024-03-26 11:03:53.335408       Tuesday                  2
1  2024-03-25 11:03:53.335408        Monday                  1
2  2024-03-24 11:03:53.335408        Sunday                  7
3  2024-03-23 11:03:53.335408      Saturday                  6
4  2024-03-22 11:03:53.335408        Friday                  5
5  2024-03-21 11:03:53.335408      Thursday                  4
6  2024-03-20 11:03:53.335408     Wednesday                  3
7  2024-03-19 11:03:53.335408       Tuesday                  2
8  2024-03-18 11:03:53.335408        Monday                  1
9  2024-03-17 11:03:53.335408        Sunday                  7
10 2024-03-16 11:03:53.335408      Saturday                  6
11 2024-03-15 11:03:53.335408        Friday                  5
12 2024-03-14 11:03:53.335408      Thursday                  4
13 2024-03-13 11:03:53.335408     Wednesday                  3
14 2024-03-12 11:03:53.335408       Tuesday                  2
15 2024-03-11 11:03:53.335408        Monday                  1
16 2024-03-10 11:03:53.335408        Sunday                  7
17 2024-03-09 11:03:53.335408      Saturday                  6
18 2024-03-08 11:03:53.335408        Friday                  5
19 2024-03-07 11:03:53.335408      Thursday                  4